<!DOCTYPE html>
<html>
  <head>
    <style>
        body {
            background-color: #CBF6FF;
            }
    </style>
  </head>
  <body>

  <center><h1>Text2Slack</h1></center>
  <br><br>
  <center><%- if devise_mapping.omniauthable? %>
    <a href="<%= user_slack_omniauth_authorize_path %>"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
    <% end -%></center>

<br>
    <center>created by Maria Cassino</center>

    <center><a href="http://github.com/mariacassino/text2slack"><img src="https://cloud.githubusercontent.com/assets/15970171/16715429/3448edbe-46ad-11e6-9601-bf3a0be8a5e0.png"></a>
    <a href="http://twitter.com/mariacassino85"><img src="https://cloud.githubusercontent.com/assets/15970171/16715464/59478fc0-46ae-11e6-82d2-c9b6ef6e9d2f.png"></a> </center>




  </body>

</html>
